<div class="grid p-4 pt-1 m-0 align-items-center bg-gray-50">
  <div class="col-12 lg:col-8">
    <div
      class="surface-card border-round"
      (click)="viewNewsDetail(mainNews.id)"
    >
      <p class="text-red font-bold font-medium mb-2">{{ mainNews.location }}</p>
      <h2 class="text-3xl font-bold text-900 line-height-3 mb-3">
        {{ mainNews.title }}
      </h2>
      <img
        [style.view-transition-name]="'transition-image-' + mainNews.id"
        [src]="mainNews.imageUrl"
        alt="Imagen Principal"
        class="w-10 mb-3 border-round"
      />
      <p class="text-sm text-500 mb-2">
        {{ mainNews.author }} - {{ mainNews.createdAt | date : "short" }}
      </p>
      <p class="text-700">{{ mainNews.content }}</p>
    </div>
  </div>

  <div class="col-12 lg:col-4">
    <app-news-secondary-card [news]="sideNews" />
  </div>

  <div class="col-12 mt-5">
    <app-carrousel [carouselNews]="carouselNews" />
  </div>
</div>
